/* Header */

#wrapper{
    margin:20px;
}
ul{
    margin: 0px;
    padding: 0px;
}
#header{
    overflow: hidden;
}
#hList{
    overflow: auto;
}
#hList ul{
    display: inline-flex;
    float: right;
    text-align: right;
}
#hList li{
    list-style: none;
    /* padding:10px; */
    margin: 5px;
}
#hpara{
    padding: 5px;
    /* background-color: #efefef; */
}
#hpara h2{
    padding-left: 2%;
}


/* Main Body */
#banner{
    background-color: #e1e1e1;
    padding: 5%;
}

#banner p {
  width: 30%;
  text-align: justify;
}
#subs {
  background-color: #e1e1e1;
  padding: 3%;
}
#Txtitem {
  text-align: center;
  font-size: 175%;
  font-weight: bold;
}
#submitBtn {
  background-color: dodgerblue;
  color: floralwhite;
  width: 20%;
  padding: 0.5% 5% 0.5% 2%;
  text-align: left;
  font-size: 15px;
  outline: none;
  border: none;
  border-radius: 8px;
}
#heading {
  width: 100%;
  display: inline-flex;
}
.hd1 {
  width: 30%;
  padding: 10px;
  margin: 1% 5%;
}
.hd1 #box {
  padding: 10px 10vw 25vh 10vw;
  background-color: #e1e1e1;
  margin: 1% 5%;
}
.content {
  text-align: center;
}
#footer{
    padding: 2%;
}
@media only screen and (max-width: 600px) {
    #heading{
        display: block;
    }
    .hd1{
        width: auto;
    }
    #banner p {
        width: 60%;
        
      }
}